<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<Server xdt:Transform="Insert">
    <ZiraffHost Name="IdentityServer" ServerUrl="https://scidentitytst.azurewebsites.net/identity/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="newstream" Container="https:///192.168.0.104/Identity" IsElasticEnabled="false" EventStoreUrl="http://localhost:2113" ElasticSearchUrl="http://localhost:9200" RedisUrl="localhost:63792" IsRedisEnabled="false" Environment="Ziraff"/>
    <ZiraffHost Name="Authority" ServerUrl="http://192.168.0.110:90/AWBeanDev/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="Authority" Container="https://192.168.0.110/Identity"/>
    <ZiraffHost Name="IdentityBean" ServerUrl="https://beantstapi.smartcursors.org" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="EventStoreServer" ServerUrl="awzinfra.cloudapp.net" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="newstream" Container=""/>
    <ZiraffHost Name="ElasticSearchServer" ServerUrl="http://localhost:9200" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="RedisServer" ServerUrl="localhost:6379" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="ReportServer" ServerUrl="http://ziraff.southeastasia.cloudapp.azure.com:82/reports/report" Port="0" IsEnabled="false" Username="madhubaabu" Password="Welcome@123" FromEmail="" StreamName="" Container="reportcontainer"/>
    <ZiraffHost Name="EmailServer" ServerUrl="" Port="587" IsEnabled="false" Username="ziraff.technologies" Password="Ztech@123" FromEmail="ziraff.appsworld@gmail.com" StreamName="" Container="smtp.gmail.com"/>
    <ZiraffHost Name="HostServer" ServerUrl="192.168.0.110:90" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="IdentityWorkflow" ServerUrl="https://wftstapi.smartcursors.org" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
  </Server>-->
  <appSettings>

    <!--secret key for Aes Encryption Algorithm. One for all Application-->
    <add key="SecretKeyClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595" xdt:Transform="Insert"  />
    <add key="SecretKeyClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H." xdt:Transform="Insert"  />
    <add key="SecretKeyKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretSkipauthKeyTST/4329a9bdd8574ec79c977f8024cbed98" xdt:Transform="Insert" />

    <!--SkipAuthPassword for skip authentication in restsharp call. One for all Application-->
    <add key="SkipAuthPasswordClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595" xdt:Transform="Insert" />
    <add key="SkipAuthPasswordClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H." xdt:Transform="Insert" />
    <add key="SkipAuthPasswordKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretSkipauthKeyTST/4329a9bdd8574ec79c977f8024cbed98" xdt:Transform="Insert" />


    <!--AppsWorldDBContext ConnectionString-->
    <add key="AppsWorldDBContextClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595" xdt:Transform="Insert" />
    <add key="AppsWorldDBContextClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H." xdt:Transform="Insert" />
	  <add key="AppsWorldDBContextKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/ScretDbKeyTST/6e84ffde5c7d4ad8a4452f7b03465957" xdt:Transform="Insert" />


    <!--AzureStorage ConnectionString-->
    <add key="AzureStorageClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595" xdt:Transform="Insert" />
    <add key="AzureStorageClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H." xdt:Transform="Insert" />
    <add key="AzureStorageKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretStorageKeyTST/2276af92d54a456eb9a8277843035df9" xdt:Transform="Insert"/>



    <!--Identity Authorirty acess token-->
    <add key="Authority" value="https://smartcursors.org/login.tst/identity" xdt:Transform="Insert" />
    <add key="IsAuthorize" value="false" xdt:Transform="Insert"/>

    <!--mailgun-->
    <add key="BaseUrl" value="https://api.mailgun.net/v3/smartcursors.net" xdt:Transform="Insert" />
    <add key="Authenticatorapi" value="api" xdt:Transform="Insert" />
    <add key="Authenticatorkey" value="b26bb82016a710fc2d72be630b46ce04-8889127d-fbfadd51" xdt:Transform="Insert" />
    <add key="Domain" value="smartcursors.net" xdt:Transform="Insert" />


    <add key="instrumentationKey" value="6ef9cf5a-2d4b-46ce-801b-a7b0023c9170" xdt:Transform="Insert"/>
    <add key="IsLogEnabled" value="true"  xdt:Transform="Insert" />

    <add key="AdminUrl" value="https://smartcursors.org/adminapi.tst/" xdt:Transform="Insert"/>
    <add key="AzureUrl" value="https://smartcursors.org/azureapi.tst" xdt:Transform="Insert"/>
    <add key="BeanUrl" value="https://smartcursors.org/beanapi.tst" xdt:Transform="Insert"/>
    <add key="WorkflowUrl" value="https://smartcursors.org/wfapi.tst" xdt:Transform="Insert"/>
	<add key="AzureFuncUrl" value="http://scmazfundocazurestaging.azurewebsites.net/" xdt:Transform="Insert"/>
    <add key="AzureFileStorageUrl" value="https://smartcursors.org/azureapi.tst" xdt:Transform="Insert"/>
    <!--<add key="FileStorePath" value="D:\local\Temp" xdt:Transform="Insert"/>-->
    <!--Temp Path for zip file, need to change to temp path-->
    <add key="IsProtocol" value="true" xdt:Transform="Insert"/>

    <add  key="managedIdentityId" value="03067c24-00a2-4d17-bd52-8aff5fafacea" xdt:Transform="Insert" />
    <add  key="SecurityCredentialsMode" value="AD" xdt:Transform="Insert"/>

    <add key="TempPath" value="C:\temp\" xdt:Transform="Insert"/>
    <add key="PeppolApiKey" value="t_Y59tjN0zf4zy5SZmXjrUwluUdsasrM6W" xdt:Transform="Insert" />
    <add key="PeppolURL" value="https://api.ap-connect.dev.einvoice.sg/" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <compilation debug="false"/>

  </system.web>
</configuration>