<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<Server xdt:Transform="Insert">
    <ZiraffHost Name="IdentityServer" ServerUrl="https://scidentitytst.azurewebsites.net/identity/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="newstream" Container="https:///192.168.0.104/Identity" IsElasticEnabled="false" EventStoreUrl="http://localhost:2113" ElasticSearchUrl="http://localhost:9200" RedisUrl="localhost:63792" IsRedisEnabled="false" Environment="Ziraff"/>
    <ZiraffHost Name="Authority" ServerUrl="http://192.168.0.110:90/AWBeanDev/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="Authority" Container="https://192.168.0.110/Identity"/>
    <ZiraffHost Name="IdentityBean" ServerUrl="https://beantstapi.smartcursors.org" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="EventStoreServer" ServerUrl="awzinfra.cloudapp.net" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="newstream" Container=""/>
    <ZiraffHost Name="ElasticSearchServer" ServerUrl="http://localhost:9200" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="RedisServer" ServerUrl="localhost:6379" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="ReportServer" ServerUrl="http://ziraff.southeastasia.cloudapp.azure.com:82/reports/report" Port="0" IsEnabled="false" Username="madhubaabu" Password="Welcome@123" FromEmail="" StreamName="" Container="reportcontainer"/>
    <ZiraffHost Name="EmailServer" ServerUrl="" Port="587" IsEnabled="false" Username="ziraff.technologies" Password="Ztech@123" FromEmail="ziraff.appsworld@gmail.com" StreamName="" Container="smtp.gmail.com"/>
    <ZiraffHost Name="HostServer" ServerUrl="192.168.0.110:90" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
    <ZiraffHost Name="IdentityWorkflow" ServerUrl="https://wftstapi.smartcursors.org" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container=""/>
  </Server>-->
  <appSettings>
    
    <add key="SecretKey" value="E4F1E897-A39A-4A27-ADC9-ABD96CCACD67" xdt:Transform="Insert"/>

    <add key="SkipAuthPassword" value="E4F1E897-A39A-4A27-ADC9-ABD96CCACD67" xdt:Transform="Insert"/>

    <add key="AppsWorldDBContext" value="Server=192.168.1.138;Database=SmartCursorDev;User ID=DevUser;Password=Welcome@123!@#$%;Integrated Security=False;TrustServerCertificate=True;" xdt:Transform="Insert"/>


    <!--Identity Authorirty acess token-->
    <add key="Authority" value="http://192.168.1.138/login.dev" xdt:Transform="Insert" />
    <add key="IsAuthorize" value="false" xdt:Transform="Insert"/>



    <add key="instrumentationKey" value="b338becb-61e4-4ea4-ab34-b240c7612c2b" xdt:Transform="Insert"/>
    <add key="IsLogEnabled" value="true"  xdt:Transform="Insert" />

    <add key="AdminUrl" value="http://192.168.1.138/adminapi.dev/" xdt:Transform="Insert"/>
    <add key="AzureUrl" value="http://192.168.1.138/azureapi.dev/" xdt:Transform="Insert"/>
    <add key="BeanUrl" value="http://192.168.1.138/beanapi.dev/" xdt:Transform="Insert"/>
    <add key="WorkflowUrl" value="http://192.168.1.138/wfapi.dev/" xdt:Transform="Insert"/>

    <!--<add key="FileStorePath" value="D:\local\Temp" xdt:Transform="Insert"/>-->
    <!--Temp Path for zip file, need to change to temp path-->
    <add key="IsProtocol" value="true" xdt:Transform="Insert"/>

    <add  key="managedIdentityId" value="03067c24-00a2-4d17-bd52-8aff5fafacea" xdt:Transform="Insert" />
    <add  key="SecurityCredentialsMode" value="WC" xdt:Transform="Insert"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <compilation debug="false"/>
  </system.web>
</configuration>