<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">



  <appSettings>

    <!--secret key for Aes Encryption Algorithm. One for all Application-->
    <add key="SecretKeyClientId" value="6fc5f8f8-1a1c-4a59-b0ea-a5b481e11cf0" xdt:Transform="Insert"/>
    <add key="SecretKeyClientSecret" value="JmBfHnMX5hjv1W0eH2P3/TWSTO4VhFpllRBd6Umr5cw=" xdt:Transform="Insert"/>
    <add key="SecretKeyKeySecretUri" value="https://scmkeyvault.vault.azure.net/secrets/SecretKey-prd/112348607b1e4bd4847895b4619fd7a4" xdt:Transform="Insert"/>

    <!--SkipAuthPassword for skip authentication in restsharp call. One for all Application-->
    <add key="SkipAuthPasswordClientId" value="6fc5f8f8-1a1c-4a59-b0ea-a5b481e11cf0" xdt:Transform="Insert"/>
    <add key="SkipAuthPasswordClientSecret" value="JmBfHnMX5hjv1W0eH2P3/TWSTO4VhFpllRBd6Umr5cw=" xdt:Transform="Insert"/>
    <add key="SkipAuthPasswordKeySecretUri" value="https://scmkeyvault.vault.azure.net/secrets/SecretKey-prd/112348607b1e4bd4847895b4619fd7a4" xdt:Transform="Insert"/>

    <!--AppsWorldDBContext ConnectionString-->
    <add key="AppsWorldDBContextClientId" value="6fc5f8f8-1a1c-4a59-b0ea-a5b481e11cf0" xdt:Transform="Insert"/>
    <add key="AppsWorldDBContextClientSecret" value="JmBfHnMX5hjv1W0eH2P3/TWSTO4VhFpllRBd6Umr5cw=" xdt:Transform="Insert"/>
    <add key="AppsWorldDBContextKeySecretUri" value="https://scmkeyvault.vault.azure.net/secrets/Dbcontext-prd/2b71ab42af8f4f0e99d3b603d4511d9f" xdt:Transform="Insert"/>



    <!--<add key="Environment" value="PRD"  xdt:Transform="Insert"/>-->
    <add key="Authority" value="https://login.smartcursors.com/identity/" xdt:Transform="Insert" />
    
    <add key="IsAuthorize" value="false" xdt:Transform="Insert"/>

    <!--<add key="hostaddress" value="https://smartcursors.com" xdt:Transform="Insert"/>-->
    <add key="instrumentationKey" value="5e015d8d-bb1f-49df-813d-d87177e89843" xdt:Transform="Insert"/>
    
    <add key="IsLogEnabled" value="true" xdt:Transform="Insert" />
    <add key="IsAuthorize" value="false" xdt:Transform="Insert" />
    
    <!--<add key="FileStorePath" value="C:/temp/" xdt:Transform="Insert"/>-->
    
    <add key="BeanUrl" value="https://beanapi.smartcursors.com/" xdt:Transform="Insert"/>
    <add key="AdminUrl" value="https://adminapi.smartcursors.com/" xdt:Transform="Insert" />
    <add key="WorkflowUrl" value="https://wfapi.smartcursors.com/" xdt:Transform="Insert"/>
    <add key="AzureUrl" value="https://docapi.smartcursors.com" xdt:Transform="Insert"/>
    <add key="AzureFuncUrl" value="https://scmazfundocazureprd.azurewebsites.net/" xdt:Transform="Insert"/>
    <add key="IsProtocol" value="true" xdt:Transform="Insert"/>

    <add  key="managedIdentityId" value="7f8085e1-5564-4658-844c-85ab349928f8" xdt:Transform="Insert" />
    <add  key="SecurityCredentialsMode" value="AD" xdt:Transform="Insert"/>

    <add key="TempPath" value="C:\temp\" xdt:Transform="Insert"/>
    <add key="PeppolApiKey" value="k_qaX8NBbsaxELt1VFiQPU61QjJLwylYkD" xdt:Transform="Insert" />
    <add key="PeppolURL" value="https://api.ap-connect.einvoice.sg/" xdt:Transform="Insert" />
    <add key="SecondaryDbConnectionConnectionString" value ="Server=tcp:smartcursors.public.3d8c9fc1c5b1.database.windows.net,3342;Database=STGSecondaryDB;User ID=SCMPRDSTG2659A27B88F4488D;Password=49FF193B230A397BDE5135C6;Integrated Security=False;TrustServerCertificate=True;Connection Timeout=0;"  xdt:Transform="Insert" />

  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <compilation debug="false"/>


  </system.web>
</configuration>