<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <appSettings>
    <add  key="managedIdentityId" value="7f8085e1-5564-4658-844c-85ab349928f8" xdt:Transform="Insert" />
    <add  key="SecurityCredentialsMode" value="AD" xdt:Transform="Insert"/>
    <!--secret key for Aes Encryption Algorithm. One for all Application-->
    <add key="SecretKeyClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595"  xdt:Transform="Insert"/>
    <add key="SecretKeyClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H."  xdt:Transform="Insert"/>
    <add key="SecretKeyKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretSkipauthKeyUAT/41b75e7731e740ce8ae2536210c90349" xdt:Transform="Insert" />
    <!--SkipAuthPassword for skip authentication in restsharp call. One for all Application-->
    <add key="SkipAuthPasswordClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595"  xdt:Transform="Insert" />
    <add key="SkipAuthPasswordClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H."  xdt:Transform="Insert"/>
    <add key="SkipAuthPasswordKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretSkipauthKeyUAT/41b75e7731e740ce8ae2536210c90349"  xdt:Transform="Insert"/>

    <!--AppsWorldDBContext ConnectionString-->
    <add key="AppsWorldDBContextClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595"  xdt:Transform="Insert"/>
    <add key="AppsWorldDBContextClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H."  xdt:Transform="Insert"/>
    <add key="AppsWorldDBContextKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/ScretDbKeyUAT/a188f7eff36443d5b2bb0dc56172980d"  xdt:Transform="Insert"/>


    <!--AzureStorage ConnectionString-->
    <add key="AzureStorageClientId" value="e6889019-48dd-42d5-bb0d-28a86a675595" xdt:Transform="Insert"/>
    <add key="AzureStorageClientSecret" value="9CK.iSltNWu~EKN9o1XUAW7._rL9hsL6H." xdt:Transform="Insert"/>
    <add key="AzureStorageKeySecretUri" value="https://keyvulttstuatstaging.vault.azure.net/secrets/SecretStorageKeyUAT/d5bceee204124a78bca3bdbaca0dcfea" xdt:Transform="Insert"/>



    <!--<add key="Environment" value="UAT"  xdt:Transform="Insert"/>-->
    <add key="Authority" value="https://scidentityuat.azurewebsites.net/identity " xdt:Transform="Insert" />

    <add key="IsAuthorize" value="false" xdt:Transform="Insert" />

    <add key="instrumentationKey" value="6ef9cf5a-2d4b-46ce-801b-a7b0023c9170" xdt:Transform="Insert"/>
    <!--<add key="FileStorePath" value="D:\local\Temp" xdt:Transform="Insert"/>-->
    <add key="IsProtocol" value="true" xdt:Transform="Insert"/>

    <add key="AdminUrl" value="https://smartcursors.org/adminapi.uat/" xdt:Transform="Insert" />
    <add key="AzureUrl" value="https://smartcursors.org/azureapi.uat/" xdt:Transform="Insert"/>
    <add key="BeanUrl" value="https://smartcursors.org/beanapi.uat/" xdt:Transform="Insert"/>
    <add key="WorkflowUrl" value="https://smartcursors.org/wfapi.uat/" xdt:Transform="Insert"/>
    <add key="AzureFuncUrl" value="http://scmazfundocazurestaging.azurewebsites.net/" xdt:Transform="Insert"/>


    <!--mailgun-->
    <add key="BaseUrl" value="https://api.mailgun.net/v3/smartcursors.net" xdt:Transform="Insert" />
    <add key="Authenticatorapi" value="api" xdt:Transform="Insert" />
    <add key="Authenticatorkey" value="b26bb82016a710fc2d72be630b46ce04-8889127d-fbfadd51" xdt:Transform="Insert" />
    <add key="Domain" value="smartcursors.net" xdt:Transform="Insert" />

    <add key="TempPath" value="C:\temp\" xdt:Transform="Insert"/>
    <add key="PeppolApiKey" value="t_Y59tjN0zf4zy5SZmXjrUwluUdsasrM6W" xdt:Transform="Insert" />
    <add key="PeppolURL" value="https://api.ap-connect.dev.einvoice.sg/" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <compilation debug="false"/>


  </system.web>
</configuration>