<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<membershipReboot defaultTenant="AppsWorld" requireAccountVerification="false" emailIsUsername="true" multiTenant="false" usernamesUniqueAcrossTenants="true" allowAccountDeletion="true" accountLockoutFailedLoginAttempts="5" passwordHashingIterationCount="0" accountLockoutDuration="00:01:00" passwordResetFrequency="0" />-->

  <!--<Server xdt:Transform="Insert">
    --><!--<ZiraffHost Name="IdentityServer" ServerUrl="https://beanapi.smartcursors.net/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="newstream" Container="https://smartcursorprd.azurewebsites.com/identity/" IsElasticEnabled="false" EventStoreUrl="http://localhost:2113" ElasticSearchUrl="http://localhost:9200" RedisUrl="localhost:6380" IsRedisEnabled="false" Environment="PRDLIVE" />--><!--
    
    <ZiraffHost Name="IdentityBean" ServerUrl="https://beanapi.smartcursors.net/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container="" />
    --><!--<ZiraffHost Name="EventStoreServer" ServerUrl="awzinfra.cloudapp.net" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="newstream" Container="" />
    <ZiraffHost Name="ElasticSearchServer" ServerUrl="http://localhost:9200" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container="" />--><!--
    --><!--<ZiraffHost Name="RedisServer" ServerUrl="localhost:6380" Port="0" IsEnabled="true" Username="" Password="" FromEmail="" StreamName="" Container=""/>--><!--
    --><!--<ZiraffHost Name="ReportServer" ServerUrl="http://ziraff.southeastasia.cloudapp.azure.com:82/reports/report" Port="0" IsEnabled="false" Username="madhubaabu" Password="Welcome@123" FromEmail="" StreamName="" Container="reportcontainer"/>--><!--
    --><!--<ZiraffHost Name="EmailServer" ServerUrl="" Port="587" IsEnabled="false" Username="ziraff.technologies" Password="Ztech@123" FromEmail="ziraff.appsworld@gmail.com" StreamName="" Container="smtp.gmail.com" />--><!--
    <ZiraffHost Name="HostServer" ServerUrl="smartcursors.com" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container="" />
    <ZiraffHost Name="IdentityWorkflow" ServerUrl="https://wfapi.smartcursors.net/" Port="0" IsEnabled="false" Username="" Password="" FromEmail="" StreamName="" Container="" />
  </Server>-->

  <appSettings>

    <!--secret key for Aes Encryption Algorithm. One for all Application-->
    <!--<add key="SecretKeyClientId" value="13c0cd27-3ef8-4ce6-a753-78f83f9f4106" xdt:Transform="Insert"/>
    <add key="SecretKeyClientSecret" value="_S-l=2MA_LCMfqOVVoneHf08n83yb42_" xdt:Transform="Insert"/>-->
    <add key="SecretKeyKeySecretUri" value="https://keyvaulttempprd.vault.azure.net/secrets/Scretkeysecretetempprd/8a2c82c4ed4645698800a1a6213dd0c3" xdt:Transform="Insert"/>

    <!--SkipAuthPassword for skip authentication in restsharp call. One for all Application-->
    <!--<add key="SkipAuthPasswordClientId" value="13c0cd27-3ef8-4ce6-a753-78f83f9f4106" xdt:Transform="Insert"/>
    <add key="SkipAuthPasswordClientSecret" value="_S-l=2MA_LCMfqOVVoneHf08n83yb42_" xdt:Transform="Insert"/>-->
    <add key="SkipAuthPasswordKeySecretUri" value="https://keyvaulttempprd.vault.azure.net/secrets/Scretkeysecretetempprd/8a2c82c4ed4645698800a1a6213dd0c3" xdt:Transform="Insert"/>

    <!--AppsWorldDBContext ConnectionString-->
    <!--<add key="AppsWorldDBContextClientId" value="13c0cd27-3ef8-4ce6-a753-78f83f9f4106" xdt:Transform="Insert"/>
    <add key="AppsWorldDBContextClientSecret" value="_S-l=2MA_LCMfqOVVoneHf08n83yb42_" xdt:Transform="Insert"/>-->
    <add key="AppsWorldDBContextKeySecretUri" value="https://keyvaulttempprd.vault.azure.net/secrets/Secretkeydbtempprd/df1788db718a42acb6d67e05d3aa0ad3" xdt:Transform="Insert"/>
   
    <add key="Authority" value="https://login.smartcursors.net/" xdt:Transform="Insert" />
    <add key="IsAuthorize" value="false" xdt:Transform="Insert"/>
         
    <add key="instrumentationKey" value="b338becb-61e4-4ea4-ab34-b240c7612c2b" xdt:Transform="Insert"/>
    <add key="IsLogEnabled" value="true"  xdt:Transform="Insert" />

    <add key="AdminUrl" value="https://adminapi.smartcursors.net/" xdt:Transform="Insert"/>
    <add key="AzureUrl" value="https://azureapi.smartcursors.net/" xdt:Transform="Insert"/>
    <add key="BeanUrl" value="https://beanapi.smartcursors.net/" xdt:Transform="Insert"/>
    <add key="WorkflowUrl" value="https://wfapi.smartcursors.net/" xdt:Transform="Insert"/>

    <!--<add key="FileStorePath" value="D:\local\Temp" xdt:Transform="Insert"/>-->
    <!--Temp Path for zip file, need to change to temp path-->
    <add key="IsProtocol" value="true" xdt:Transform="Insert"/>

    <add  key="managedIdentityId" value="03067c24-00a2-4d17-bd52-8aff5fafacea" xdt:Transform="Insert" />
    <add  key="SecurityCredentialsMode" value="MI" xdt:Transform="Insert"/>
    
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <compilation debug="false"/>
  </system.web>
</configuration>